<%- include('./partials/header'); %>
<header>
    <%- include('./partials/masthead'); %>
    <%- include('./partials/topnav'); %>
</header>
<div class="grid-container">
    <div class="cell large-12">
        <form data-abide method="post" action="/messages">
            <div class="grid-container">
                <div class="gid-x grid-margin-x">
                    <div class="cell medium-6">
                        <label>Recipient
                            <%- recipients %>
                        </label>
                    </div>
                    <div class="cell medium-6">
                        <label>Message
                            <textarea id="message" name="message" placeholder="Type Something..." rows="5" required></textarea>
                        </label>
                    </div>
                    <div class="cell medium-6">
                        <button type="submit" id="submit-btn" value="Submit" class="button">Submit</button>
                    </div>
                    <div class="cell medium-12">
                        <% if(locals.parsedErrors) { %>
                            <p><%- parsedErrors %></p>
                        <% } %>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/footer'); %>